@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  line-height: 1.5;
}

:root {
  --button-main-bg-color: #3882f6;
  --button-main-bg-color-hover: #2a60b6;
  --button-main-color: var(--hero-title-color);

  --header-bg-color: #1f2937;
  --header-logo-color: #f9faf8;
  --header-link-color: #e5e7eb;

  --hero-bg-color: #1f2937;
  --hero-title-color: #f9faf8;
  --hero-desc-color: #e5e7eb;

  --hero-placeholder-bg-color: #aaaaaa;
  --hero-placeholder-color: var(--hero-title-color);

  --info-title-color: #1f2937;
  --info-frame-color: #3882f6;
  --info-desc-color: #3f5169;
}
.wrapper {
  margin-inline: auto;
  width: min(100% - 32px, 1200px);
}
.wrapper-small {
  margin-inline: auto;
  width: min(100% - 32px, 960px);
}

/* TOP NAV */

.top-nav {
  background-color: var(--header-bg-color);
  padding-block: 20px;
}

.top-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav__logo {
  font-size: 24px;
  font-weight: bold;
}

.top-nav__logo-link {
  text-decoration: none;
  color: var(--header-logo-color);
}

.top-nav__logo-link:hover {
  opacity: 80%;
  transition: 0.1s ease-in-out;
}

.top-nav__nav-list {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.top-nav__nav-list-item {
  font-size: 18px;
}

.top-nav__nav-list-link {
  color: var(--header-link-color);
  text-decoration: none;
}

.top-nav__nav-list-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  transition: 0.1s ease-in-out;
}

/* HERO SECTION*/

.hero {
  background-color: var(--hero-bg-color);
  padding-block-start: 100px;
  padding-block-end: 150px;
}

.hero__wrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 30px 7%;
}

.hero__left {
  flex: 1 0 140px;
}

.hero__title {
  color: var(--hero-title-color);
  font-size: 48px;
  font-weight: 900;
  margin-block-end: 15px;
}

.hero_description {
  color: var(--hero-desc-color);
  font-size: 18px;
  margin-block-end: 10px;
}

.hero__button {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: var(--button-main-color);
  background-color: var(--button-main-bg-color);
  padding-inline: 35px;
  padding-block: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.hero__button:hover {
  background-color: var(--button-main-bg-color-hover);
  transition: 0.1s ease-in-out;
}

.hero__right {
  min-width: 300px;
  flex: 2 0;
  background-color: var(--hero-placeholder-bg-color);
  color: var(--hero-placeholder-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

/* INFO SECTION */

.info {
  padding-top: 100px;
  padding-bottom: 150px;
}

.info__title {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-block-end: 50px;
  text-wrap: wrap;
}

.info__blocks {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  flex-wrap: wrap;
}

.info__frame {
  width: 200px;
  height: 200px;
  border: 3px solid var(--info-frame-color);
  border-radius: 15px;
  margin-block-end: 15px;
}

.info__description {
  width: 200px;
  text-align: center;
}
